backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
cycler==0.10.0
dask==0.8.1
decorator==4.0.9
matplotlib==1.5.1
networkx==1.11
numpy==1.10.4
Pillow==3.1.1
pyparsing==2.1.1
python-dateutil==2.5.1
pytz==2016.3
scikit-image==0.12.3
scipy==0.17.0
singledispatch==3.4.0.3
six==1.10.0
statsd==3.2.1
toolz==0.7.4
tornado==4.3
